<%- include('../partials/header') %>   

<body>
    

    <div class="container-xxl px-md-5 bg-white shadow-lg" id="indexpage">
        <main>
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <div class="col-3"></div>
                <a href="/profiles" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" id="homelogo">
                    <img class ="logoimg" src="/images/uflogo2.png" />
                    <!-- <h1 class="titlelogo"> UrbanFork </h1> -->
                </a>
          
                <div class="col-md-3 text-end">
                  <button type="button" class="btn btn-outline-primary me-2">Login</button>
                  <button type="button" class="btn btn-primary">Sign-up</button>
                </div>
              </header>

<!-- <div>
    <img class="coverimg" src="/images/coverimage.png"/>
</div> -->

<!-- <div class="container dflex"></div> -->
<div class="container-fluid mt-2" id="maincontainer">
    <div class="row" id="mainrow">
    <div class="col-lg-6 align-self-center mt-5 mb-5">
        <p class="taglinepre">The most transparent restaurant reviews</p>
        <h1 class="tagline">Share your <br> <span class="unforkettable">unforkettable</span> restaurants</h1>
        <h4 class="taglinesub">and discover favorites of fellow foodies</h4>
    </div>
    <div class="col-lg-6 mt-5 mb-5" id="maincol">
    <img class="coverimg" src="/images/mainpage.jpg"/>
    </div>
</div>
</div>



<div id="foodies">
    
<h2 class="foodieusers">Foodies</h2>
<p class="text-muted"> Click on each user to see their list</p>
<div class="container mt-5" id="foodiescontainer">
<div class="row row-cols-4 pt-3" id="foodiesrow">

    <% profiles.forEach((profile) => { %>
        <div class="col mt-4 mb-5 d-flex justify-content-center text-center">
        <a href="/profiles/<%=profile._id%>" class="d-flex align-items-center text-dark text-decoration-none">
            <div>
                <img src="futuregoogleavatar.png" class="rounded-circle" id="googimg">
                <br>
                <h5 class="fw-light"><%=profile.name%></h5>
            </div>
        </a>
        </div>
    <% }); %>
</div>
</div>
</div>



<%- include('../partials/footer') %>   