<%- include('../partials/header') %>   

<body>
    

    <div class="container-xxl px-md-5 bg-white shadow-lg">
        <main>
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/profiles" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <h1 class="titlelogo"> UrbanFork </h1>
                </a>
          
                <div class="col-md-3 text-end">
                  <button type="button" class="btn btn-outline-primary me-2">Login</button>
                  <button type="button" class="btn btn-primary">Sign-up</button>
                </div>
              </header>


<ul class="users">  
    <% profiles.forEach((profiles) => { %>
        <li><a href="/profiles/<%=profiles._id%>"><%=profiles.name%></a></li>
    <% }); %>
</ul>

<%- include('../partials/footer') %>   