<%- include('../partials/header') %>

<ul class="users">  
    <% profiles.forEach((profiles) => { %>
        <li><a href="/profiles/<%=profiles._id%>"><%=profiles.name%></a></li>
    <% }); %>
</ul>

<%- include('../partials/footer') %>   