.titlelogo {
    font-family: 'DM Serif Display', serif;
}

#new-form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(auto, 22rem));
  }
  
  #new-form *, #add-review-form *  {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
  }
  
  #new-form input[type="submit"] {
    grid-column: span 2;
    width: 10rem;
    margin-left: auto;
  }

.indiv-restaurant{
    border: black;
    
}