.titlelogo {
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
}

h2 {
  font-family: 'DM Serif Display', serif;
}

#submit-form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(auto, 22rem));
  }
  
  #new-form *, #add-review-form *  {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
  }
  
  #new-form input[type="submit"] {
    grid-column: span 2;
    width: 10rem;
    margin-left: auto;
  }

.indiv-restaurant{
    border: black;
    
}



#submit-form {

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
   min-height: 100vh;
  
 }

 div.form-items {
  /* font-family: 'DM Serif Display', serif; */
  border: 3px solid #DEE2E6;
  border-radius: 50px;
  padding: 75px;
  
 }

 .money, .city, .comment-section{
   padding: 10px 10px 15px 0px;
 }

 #restaurant-add-btn {
   padding-left: 30px;
 }